@import "./component_styles/_animatedTitle";
@import "./component_styles/_details";
@import "./component_styles/_footer";
@import "./component_styles/_likeList";
@import "./component_styles/_login";
@import "./component_styles/_updateContent";

$medium-blue:#45a29e;
$grey:#c5c6c7;
$dark-blue:#1f2833;
$light-blue:#66fcf1;
$black:#0b0c10;

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1vw;
  background: #C5C6C7
}

body::-webkit-scrollbar-thumb {
  width: 0.8vw;
  height: 30px;
  background:$dark-blue;
}

.summary_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #0b0c10;
  padding: 2%;
}

.summary {
  color:$medium-blue;
  font-size:1.1rem;
  text-align: center;
}

.summary_title{
  color:$grey;
}

a {
  outline: none;
  text-decoration: none;
  color: $light-blue;
}

a:hover,
a:focus {
  color: $grey;
}

a:active {
  color: $dark-blue;
}

.sub_title_container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $dark-blue;
}

.sub_title_text {
  color:$grey;
}

.button{
  background: $medium-blue;
  border:solid 1px $medium-blue;
  color:$dark-blue;
  transition: 0.3s ease-in;
}

.button:hover{
  background:white;
  border:solid 1px $medium-blue;
  color:$medium-blue;
}

.button:active{
  background: $light-blue;
  border: solid 1px $light-blue;
  color:$dark-blue;
}

@media only screen and (max-width: 650px){
  .summary_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color:#0b0c10;
    padding: 2%;
  }
}