$medium-blue:#45a29e;
$grey:#c5c6c7;
$dark-blue:#1f2833;
$light-blue:#66fcf1;
$black:#0b0c10;

.footer_container {
  background-color: $black;
  padding: 2%;
}

.footer_links {
  display: flex;
  justify-content: space-evenly;
  margin:1%;
}

.email_form {
  display: grid;
  grid-gap:10px;
  grid-template-rows: 8vh 5vh 20vh 5vh 5vh;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2% 5%;
  background: $grey;
  border-radius: 10px;
}

.message {
  grid-column:1/4;
  grid-row:3/4;
  overflow: scroll;;
}

.sub_title {
  text-align: center;
  grid-column: 1/4

}

.email_submit {
  grid-column:1/4
}

.home_email{
  grid-column: 1/4
}

@media only screen and (max-width: 650px){
  .footer_links{
    display: flex;
    flex-flow: wrap;
  }

  .email_form{
    display:grid;
    grid-template-rows: 8vh 5vh 5vh 5vh 20vh 5vh 5vh;
    grid-template-columns: 100%
  }

  .message {
    grid-column:1/2;
    grid-row:5/6;
    overflow: scroll;;
  }
  
  .sub_title {
    text-align: center;
    grid-column: 1/2;  
  }
  
  .email_submit {
    grid-column:1/2
  }
  
  .home_email{
    grid-column: 1/2
  }
}