.footer_container {
  display: grid;
  grid-template-rows: 20% 20%;
  background-color: lightgray;
  padding: 2%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.email_container {
  width: 50%;
  padding: 5% 25%;
}

.email_form {
  display: grid;
  grid-template-rows: 5vh  20vh 5vh 5vh;
  grid-template-columns: 1fr 1fr 1fr
}

%remove_default_styles{
  -webkit-appearance: none;
}

.message{
  grid-area: 2/1/3/4;
  border:none;
}

%blue{
  background:rgb(215, 236, 243);
}

.name, .subject{
  @extend %remove_default_styles;
  border-style: none;
  padding: 5px;
  @extend %blue;
}

.email{
  @extend .name;
  background: rgb(250, 180, 191);
}

.name:focus, .email:focus, .subject:focus{
  @extend %remove_default_styles;
  background: transparent;
  border-style:solid;
  border-color: red;
  border-width: 0px 0px 1px 0px;
}




.sub_title{
  text-align: center;
}

.email_submit{
  grid-area: 3/1/4/4;
  background: rgb(245, 112, 245);
  border:none;
  color:white;
  transition: 1s ease-in;
}

.email_submit:hover{
  grid-area: 3/1/4/4;
  background:white;
  border:solid 1px rgb(245, 112, 245);
  color:rgb(245, 112, 245);
}

.home_button{
  grid-column: 1/5
}