$hover-background: purple;
$background: lightblue;
$animate-button: 1s;
$border: 0;

.like_list{
    height: 40vh;
    width: 100%;
}

.list_container{
    display: grid;
    grid-template-columns: repeat(9, calc(100%/3));
    grid-template-rows: 40vh;
}

.scroll_button_container{
    display:flex;
}

.video {
    height: 100%;
    width: 100%;
}

%clear{
opacity: 0.4;
background: $background;
}

%solid{
opacity: 1;
background: $hover-background;
}

%scroll_animation{
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.scroll_button_left {
    flex-grow:1;
    transition: $animate-button ease-in;
    border: $border;
    @extend %clear;
}

.scroll_button_right {
    flex-grow:1;
    transition: $animate-button ease-in;
    border: $border;
    @extend %clear;
}

.scroll_button_left:hover {
    flex-grow:1;
    border: $border;
    @extend %solid;
}

.scroll_button_right:hover {
    flex-grow:1;
    border: $border;
    @extend %solid;
}

.list_container_left{
    @extend %scroll_animation;
    @extend .list_container;
    animation-name: left;
}

.list_container_back_left{
    @extend %scroll_animation;
    @extend .list_container;
    animation-name: back-left;
}

@keyframes left {
    from{
        transform: translateX(-100%)
    }
    to{
        transform: translateX(0%)
    }
}

@keyframes back-left {
    from{
        transform: translateX(-200%)
    }
    to{
        transform: translateX(-100%)
    }
}

.list_container_right{
    @extend %scroll_animation;
    @extend .list_container;
    animation-name: right;
}

.list_container_second_right{
    @extend %scroll_animation;
    @extend .list_container;
    animation-name: second-right;
}

@keyframes second-right{
    from{
        transform: translateX(-100%)
    }
    to{
        transform: translate(-200%)
    }
}

@keyframes right {
    from{
        transform: translateX(0%)
    }
    to{
        transform: translateX(-100%)
    }
}