$scroll-button-height: 30%;
$scroll-button-offset:2%;
$hover-background: purple;
$background: lightblue;
$animate-button: 1s;
$border: 0;

.like_list {
    height: 40vh;
}

.list_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, calc(100%/3));
    grid-template-rows: 40vh;
    overflow-y:hidden;
    scroll-behavior: smooth;
}

.video {
    height: 100%;
    width: 100%;
}

%button_height{
    width: 40px;
    height:20px;
}

%clear{
opacity: 0.2;
background: $background;
}

%solid{
opacity: 1;
background: $hover-background;
}


.scroll_button_left {
    position: sticky;
    top: $scroll-button-height;
    left: $scroll-button-offset;
    transition: $animate-button ease-in;
    border: $border;
    @extend %button_height;
    @extend %clear;
}

.scroll_button_right {
    position: sticky;
    top: $scroll-button-height;
    right: $scroll-button-offset;
    transition: $animate-button ease-in;
    border: $border;
    @extend %button_height;
    @extend %clear

    
}

.scroll_button_left:hover {
    position: sticky;
    top: $scroll-button-height;
    right: $scroll-button-offset;
    border: $border;
    @extend %button_height;
    @extend %solid
}

.scroll_button_right:hover {
    position: sticky;
    top: $scroll-button-height;
    right: $scroll-button-offset;
    border: $border;
    @extend %button_height;
    @extend %solid;
}

.list_container_left{
    @extend .list_container;
    animation-name: left;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes left {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(100vw)
    }
}

.list_container_right {
    @extend .list_container;
    animation-name: right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out
    
}

@keyframes right {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100vw)
    }
}