.like_list{
    height: 40vh;
    width: 100%;
    overflow:hidden;     
}

.list_container{
    display: grid;
    grid-template-columns: repeat(9, calc(100%/3));
    grid-template-rows: 35.2vh;
}

.scroll_button_container{
    display:grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr; 
    grid-template-rows:5vh;
    background: #c5c6c7;
}

.video {
    height: 100%;
    width: 100%;
}

%scroll_animation{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.scroll_left {
    grid-column: 1/2
}

.scroll_right {
    grid-column: 5/6
}

.list_container_left{
    @extend %scroll_animation;
    @extend .list_container;
    animation-name: left;
}

.list_container_back_left{
    @extend %scroll_animation;
    @extend .list_container;
    animation-name: back-left;
}

@keyframes left {
    from{
        transform: translateX(-100%)
    }
    to{
        transform: translateX(0%)
    }
}

@keyframes back-left {
    from{
        transform: translateX(-200%)
    }
    to{
        transform: translateX(-100%)
    }
}

.list_container_right{
    @extend %scroll_animation;
    @extend .list_container;
    animation-name: right;
}

.list_container_second_right{
    @extend %scroll_animation;
    @extend .list_container;
    animation-name: second-right;
}

@keyframes second-right{
    from{
        transform: translateX(-100%)
    }
    to{
        transform: translate(-200%)
    }
}

@keyframes right {
    from{
        transform: translateX(0%)
    }
    to{
        transform: translateX(-100%)
    }
}

%video_title_styles{
    display:flex;
    justify-content: center;
    align-items: center;  
    margin: 0px;
    height:100%;
    font-size:1.2rem;
    color:#0b0c10
}


.video_title-enter {
    @extend %video_title_styles;
    opacity: 0;
}

.video_title-enter-active{
    opacity: 1;
    transition: opacity 4s ease-in;  
}


.video_title-enter-done{
    @extend %video_title_styles;
}

.video-appear{
    opacity: 0;
}

.video-appear-active{
    opacity: 1;
    transition: opacity 5s ease-in;  
}

@media only screen and (max-width: 650px){
    .like_list{
        height: 40vh;
        width: 100%;
        overflow-x:scroll;     
    }
    .list_container{
        display: grid;
        grid-template-columns: repeat(9, 100%);
        grid-template-rows: 40vh;
    }
}