  
  .login_title{
    grid-column: [title];
  }
  
  .login_text{
  grid-column: [text_input];
  }
  
  .login_button{
  grid-column: [submit_button];
  }
  
  .hide_button{
  grid-column: [hide_button]
  }
  
   
  .form_container{
    display:grid;
    grid-template-rows: 12% ;
    grid-template-columns: 4fr [title] 3fr [text_input] 2fr [submit_button] 1fr [hide_button];
    padding: 2%;
    background-color: lightgrey;
    border-radius: 10px;
  }