  
  .login_title, .home_login, .login_text, .login{
    text-align: center;
    font-size: 1rem;
  }
   
  .form_container{
    background-color: #c5c6c7; 
    display:grid;
    grid-template-columns: 100%;
    grid-gap:5px;
    padding: 2% 25%;
    border-radius:10px;
  }